<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Company</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}

  <link rel="stylesheet" href="/static/css/Company/styles.css">

  <script src="/static/js/Company/runtime.js" defer></script>
  <script src="/static/js/Company/polyfills.js" defer></script>
  <script src="/static/js/Company/main.js" defer></script>

 </head>
 <body>
   
   <app-root></app-root>
   
 </body>
 
</html>
